/*------------------------------------------
Global CSS
 -------------------------------------------*/
*{
	box-sizing: border-box;
}
/*Simple responsive Framework*/
.row{
	width: 100%;
	background: gray;
}
div{
	background-color: ;
}
.section{
	text-align: center;
	position: relative;
	border: 1px solid black;
}

p{
	background-color: gray;
	font-family: Helvetica;
	color: white;
	text-align: left;
}
.navbar-brand {
  padding-top: 25px;

}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: darkgray;
}
/* Large devices Only
@media(min-width: 992px){
	.col-lg-1, .col-lg-2, .col-lg-3{
		float: right;
		border:1px solid green;
		}
		.col-lg-1{
			width: 33.33%;
		}
		.col-lg-2{
			width: 66.66%;
		}
		.col-lg-3{
			width: 99.99%;
		}
	}
*/
/*Medium devices only*/
@media(min-width:992px){
	.col-md-1{
			/*float: left;
			border: 1px solid green;*/
			width: 100%;
		}
	}
/*Small devices only*/

@media(min-width:768px) and (max-width:991px){
	.col-sm-1{
		border: 1px solid green;
		width: 100%;
	}
}
/*Extra small devices only*/
@media(max-width:767px){

}